@import "../../variables.scss";

.footer__socials{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    height: 140px;
    gap: 1rem;
    background: $color-bg;
    &>a{
        margin-top: 0.5rem;
    }
}