@import "../../variables.scss";

nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: flex;
  gap: 2rem;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 2rem;
  border-radius: 3rem;
  backdrop-filter: blur(5px);

  & > a {
    padding: 0.5rem;
    color: $color-light;
    font-size: 1.5rem;
    border-radius: 50%;
    display: flex;

    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }
    &.active {
      background-color: $color-bg-variant;
      color: $color-white;
    }
  }
}
